body {
    background-color: #0e485b;
    color: #feff3f;
}

div.site_wrapper {
    background-color: #000000;
}

div.small_login_form {
    text-align: right;
}

a {
    color: #feff3f;
}

a:hover {
    color: #ffffff;
}

div.login_form {
    text-align: right;
    display: table;
    margin: auto;
}

div.login_form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}