body
{
    background-color: #0e485b;
    color: #feff3f;
}

div.site_wrapper
{
    background-color: #252525;
    padding: 20px;
}

div.small_login_form
{
    text-align: right;
}

a
{
    color: #feff3f;
}

a:hover
{
    color: #ffffff;
}

div.login_form
{
    text-align: right;
    display: table;
    margin: auto;
}

div.login_form ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

div.login_form ul li
{
    margin: 10px;
}

table.std
{
    border-collapse: collapse;
}

table.std th,
table.std td
{
    padding: 2px 10px;
}

.head
{
    background-color: #000000;
}

.row1
{
    background-color: #1e545b;
}

.row2
{
    background-color: #08365b;
}
