{% extends 'web/site.html' %}

{% block title %}
    {{ block.super }}
    - Contests List
{% endblock %}

{% block content %}
    Contests:
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {% for contest in contests %}
            <tr>
                <td>{{ contest.id }}</td>
                <td><a href="{% url 'web:contest_details' contest.id %}">{{ contest.name }}</a></td>
                <td>{{ contest.description }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if user.is_staff %}
        <a href="{% url 'web:contest_create' %}?r={{ request.get_full_path | urlencode:'' }}">Create</a>
    {% endif %}
{% endblock %}

