{% extends 'web/site.html' %}

{% block title %}
    {{ block.super }}
    - Judge details
{% endblock %}

{% block content %}
    <table class="std horizontal">
        <tr>
            <th>Judge name:</th>
            <td>{% autoescape on %}{{ judge_info.name }}{% endautoescape %}</td>
        </tr>

        <tr>
            <th>Judge description:</th>
            <td>{% autoescape on %}{{ judge_info.description | linebreaksbr }}{% endautoescape %}</td>
        </tr>

        <tr>
            <th>Path:</th>
            <td>{% autoescape on %}{{ judge_info.path }}{% endautoescape %}</td>
        </tr>

        <tr>
            <th>Initial parameters:</th>
            <td>{% autoescape on %}{{ judge_info.init_parameters | linebreaksbr }}{% endautoescape %}</td>
        </tr>
    </table>

    {% if user.is_staff %}
        <a href="{% url 'web:judge_edit' judge_info.id %}">edit</a>
    {% endif %}

{% endblock %}

