{% extends 'web/site.html' %}

{% block title %}
    {{ block.super }}
    - Match Details
{% endblock %}

{% block content %}
    {% if user.is_staff %}
    Logs:
    <table class="std">
        <tr class="head">
            <th class="min_width">Priority</th>
            <th>Body</th>
            <th>Date</th>
        </tr>
        {% for log in logs %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ log.priority }}</td>
                <td>{{ log.body }}</td>
                <td>{{ log.time }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
